<!-- templates/easy_layouts/layouts/landing_page.html -->
{% extends "easy_layouts/base.html" %}
{% load webpages_tags %}

{% block page_title %}{% if meta_title %}{{ meta_title }}{% else %}{{ current_page.title }}{% endif %}{% if root_page %} - {{ root_page.title }}{% endif %}{% endblock %}

{% block meta_tags %}
  {% render_page_seo page=current_page version=content page_data=page_data %}
{% endblock %}

{% block icon_tags %}
  {% render_site_icons root_page=root_page %}
{% endblock %}

{% block content %}
<div class="landing-page-container">
  <div class="landing-page-wrapper">
    
    {% render_slot "header" %}
    {% render_slot "navbar" %}
    {% render_slot "hero" %}
    <main class="landing-page-main">
      {% render_slot "landing_page" %}
    </main>

    <div class="landing-page-footer">
      {% render_slot "footer" %}
    </div>
        
  </div>
</div>
{% endblock %}