{% extends "easy_layouts/base.html" %}
{% load webpages_tags %}

{% block page_title %}{% if meta_title %}{{ meta_title }}{% else %}{{ current_page.title }}{% endif %}{% if root_page %} - {{ root_page.title }}{% endif %}{% endblock %}

{% block meta_tags %}
  {% render_page_seo page=current_page version=content page_data=page_data %}
{% endblock %}

{% block icon_tags %}
  {% render_site_icons root_page=root_page %}
{% endblock %}

{% block content %}
  
  <div class="main-layout-container">
    <div class="main-layout-wrapper">
    
      {% render_slot "header" %}

      {% render_slot "navbar" %}

      {% render_slot "hero" %}
      <div class="main-layout-grid">
        <main class="main-layout-main">
          {% render_slot "main" %}
        </main>
        
        <aside class="main-layout-aside">
          {% render_slot "sidebar" %}
        </aside>
      </div>

      <footer class="main-layout-footer">
        {% render_slot "footer" %}
      </footer>
          
    </div>
  </div>
{% endblock %}