{% comment %}
Call to Action Widget Template
Eye-catching call to action banner with customizable styling
{% endcomment %}

<div class="cta-widget" style="background-color: {{ config.background_color }}; color: {{ config.text_color }};">
    <h2 class="cta-headline">{{ config.headline }}</h2>
    
    {% if config.subtext %}
    <p class="cta-subtext">{{ config.subtext }}</p>
    {% endif %}
    
    <a href="{{ config.button_url }}" class="cta-button">
        {{ config.button_text }}
    </a>
</div>