{% comment %}
Testimonial Widget Template
Displays customer testimonials with photo, rating, and company details
{% endcomment %}

<div class="testimonial-widget">
    <div class="testimonial-quote">
        "{{ config.quote }}"
    </div>
    
    <div class="testimonial-author">
        {% if config.photo %}
        <img src="{{ config.photo }}" alt="{{ config.author }}" class="testimonial-photo">
        {% endif %}
        
        <div class="testimonial-details">
            <div class="name">{{ config.author }}</div>
            {% if config.title or config.company %}
            <div class="title">
                {% if config.title %}{{ config.title }}{% endif %}
                {% if config.title and config.company %} at {% endif %}
                {% if config.company %}{{ config.company }}{% endif %}
            </div>
            {% endif %}
            
            {% if config.rating %}
            <div class="testimonial-rating">
                {% for i in "12345" %}
                    {% if forloop.counter <= config.rating %}★{% else %}☆{% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>