<div class="image-widget image-size-{{ config.size|default:'medium' }} image-align-{{ config.alignment|default:'center' }}">
    <div class="image-container">
        <img 
            src="{{ config.image_url }}" 
            alt="{{ config.alt_text }}"
            class="widget-image"
            loading="lazy"
        />
    </div>
    
    {% if config.caption %}
        <div class="image-caption">
            {{ config.caption }}
        </div>
    {% endif %}
</div>

<style>
.image-widget {
    margin: 1rem 0;
}

.image-widget.image-align-left {
    text-align: left;
}

.image-widget.image-align-center {
    text-align: center;
}

.image-widget.image-align-right {
    text-align: right;
}

.image-widget.image-size-small .widget-image {
    max-width: 200px;
    width: 100%;
}

.image-widget.image-size-medium .widget-image {
    max-width: 400px;
    width: 100%;
}

.image-widget.image-size-large .widget-image {
    max-width: 600px;
    width: 100%;
}

.image-widget.image-size-full .widget-image {
    width: 100%;
}

.widget-image {
    height: auto;
    border-radius: 4px;
}

.image-caption {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: #6b7280;
    font-style: italic;
}
</style> 