{% load static %}
{% load security_filters %}
{% load imgproxy_tags %}

{% if custom_style_css %}
<style>{{ custom_style_css|safe }}</style>
{% endif %}

<div class="bio-widget bio-widget--{{ config.text_layout|default:'column' }} widget-type-{{ widget_type.css_class_name }}{% if config.use_content_margins %} xl:pl-[80px] xl:pr-[60px]{% endif %}"{% if config.anchor %} id="{{ config.anchor }}"{% endif %}>
    <div class="bio-widget__container">
        {% if config.image %}
        <div class="bio-widget__image">
            <img 
                src="{% imgproxy config.image width=280 height=140 resize_type='fill' %}"
                srcset="{% imgproxy config.image width=280 height=140 resize_type='fill' %} 1x, {% imgproxy config.image width=560 height=280 resize_type='fill' %} 2x"
                alt="{{ config.image.title|default:'' }}"
                {% if config.image.description %}title="{{ config.caption }}"{% endif %}
                loading="lazy"
            />
            {% if config.caption %}
            <div class="bio-widget__caption"><p>{{ config.caption }}</p></div>
            {% endif %}
        </div>
        {% endif %}
        
        <div class="bio-widget__text cms-content">
            {{ config.bio_text|safe }}
        </div>
    </div>
</div>

