{% load static %}

<div class="hero-widget widget-type-{{ widget_type.css_class_name }} cms-content" style="{{ hero_style }}{% if config.background_image_url %} background-image: url('{{ config.background_image_url }}');{% endif %}">
    <div class="hero-content">
        {% if config.before_text %}
            <h5 class="before-text">{{ config.before_text|linebreaksbr }}</h5>
        {% endif %}
        
        <div><h1>{{ config.header }}</h1></div>
        
        {% if config.after_text %}
            <h6 class="after-text">{{ config.after_text|linebreaksbr }}</h6>
        {% endif %}
    </div>
</div>

