{% load security_filters %}

<div class="two-columns-widget widget-type-{{ widget_type.css_class_name }} {{ config.ratio_class }}" data-widget-type="two-columns">
    <div class="two-col-slot left" data-slot="left">
        {% if config.rendered_slots.left %}
            {% for widget in config.rendered_slots.left %}
                <div class="two-col-widget-wrapper">
                    {{ widget.html|sanitize_html }}
                </div>
            {% endfor %}
        {% else %}
            <div class="two-col-empty-slot">Left column</div>
        {% endif %}
    </div>

    <div class="two-col-slot right" data-slot="right">
        {% if config.rendered_slots.right %}
            {% for widget in config.rendered_slots.right %}
                <div class="two-col-widget-wrapper">
                    {{ widget.html|sanitize_html }}
                </div>
            {% endfor %}
        {% else %}
            <div class="two-col-empty-slot">Right column</div>
        {% endif %}
    </div>
</div>