{% load static %}


DEFAULT    

    {% if config.show_overlay and config.background_image %}
        <div class="header-overlay"
             {% if config.overlay_color or config.overlay_opacity %}
                 style="
                     {% if config.overlay_color %}background-color: {{ config.overlay_color }};{% endif %}
                     {% if config.overlay_opacity %}opacity: {{ config.overlay_opacity }};{% endif %}
                 "
             {% endif %}></div>
    {% endif %}
    
    <div class="header-content">
        {{ config.content|safe }}
    </div>
    
    {% if config.custom_css %}
        <style>
            {{ config.custom_css|safe }}
        </style>
    {% endif %}
